:root {
    --purple: #8a8aff;
    --header-white: #f5f5f5;
    --soft-gray: #e6e6e6;
    --dark-gray: #323232;
    --soft-gray-font:#707070;
    --white: #ffffff;
    --green-button: #399724;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'roboto', sans-serif;
}

/*Efecto de cristal*/
.glass {
  background: rgba(255, 255, 255, 0); /* Fondo blanco translúcido */
  backdrop-filter: blur(10px);          /* Difumina lo que está detrás */
  -webkit-backdrop-filter: blur(10px);  /* Soporte para Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  border-radius: 12px;                  /* Bordes redondeados (opcional) */
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa toda la altura de la ventana */
}

.header {
    background-color: var(--header-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 16px 24px;
}

.header > img {
    width: 32px;
    height: 32px;
}

.header > p {
    padding-left: 5px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--purple);
    font-size: 30px;
}

footer {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 80vh;  /* Asegura que ocupa toda la pantalla */
}

.main > h1 {
  font-weight: 600;
  font-size: 1.75rem;
  color: #1e1e1e; /* un gris oscuro, no negro puro */
  margin-bottom: 1rem;
} 

.contenedorSesiones{
    position: relative;
    display: flex;
    flex: 1;
}

.mensajeSinPomodoros{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 550px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: var(--soft-gray-font);
    background-color: var(--soft-gray);
}

.mensajeSinPomodoros.desactivado{
  display: none;
}

.contenedorMiniaturasSesiones{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Siempre 3 columnas iguales */
  gap: 12px; /* Espacio entre filas y columnas */
  padding-top: 16px;
  
}

.contenedorMiniaturasSesiones.desactivado{
  display: none;
}

.miniaturaSesion{
  position: relative;
  border-radius: 12px;
  height: 200px;
  width: 100%; /* que ocupe todo el ancho de su celda */
  background-size: cover;
  background-position: center;
}

.contenedorNombreSesion{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0px 10px;
  color: var(--white);
}

.contenedorNombreSesion > h2 {
  font-weight: 400;
}

.contenedorDatosSesion{
  display: flex;
  gap:14px;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 0px 10px;
  color: var(--white);
  font-size: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.contenedorDatosSesion .material-symbols-outlined{
  font-size: 20px;
}

.mostrarTiempo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.abrirSesion{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--green-button);
    margin: 5px 0px;
    padding: 6px;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedorBotonIniciar{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.abrirSesion > span{
  display: none;
  font-size: 20px;
}

/*FORMULARIO NUEVO POMODORO*/

.panelNuevoPomodoro{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    min-width: 500px;
    max-width: 500px;
    background-color: var(--soft-gray);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);  /* Oculto al inicio */
    transition: transform .3s ease, opacity .3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.panelNuevoPomodoro.abierto {
  transform: translateX(0);  /* Se muestra */
}

.panelNuevoPomodoro.cerrado {
  transform: translateX(100%);  /* Se oculta */
}

.cerrarPanel{
    cursor: pointer;
}

.contenidoFormulario{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 20px 5px;
  flex: 1;
  overflow: hidden;
}

.tituloPanel{
    flex-shrink: 0; /* Que no se reduzca */
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 5px 0px 5px;
    margin-bottom: 20px;
}

.contenidoFormulario form {
  flex: 1; /* 👈 ocupa todo el espacio disponible debajo del título */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  padding-left: 10px;
}

.tituloPanel .material-symbols-outlined {
  font-size: 24px;       /* ajusta el tamaño del ícono para que combine con el h2 */
  cursor: pointer;
  user-select: none;
}

.contenidoFormulario h3 {
    border-bottom: 5px var(--purple) solid;
    width: max-content;
    margin-bottom: 20px;
} 

.contenedorDuracionPomodoro{
    display: flex;
    gap: 10px;
    width: 100%;
}

.contenedorFondos{
  flex-wrap: wrap;
  display:flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  margin-bottom: 15px;
}

.miniaturaFondo {
  box-sizing: border-box;
  width: calc(33.333% - 5px); /* o el valor que coincida con tu gap */
  height: 100px;
  background-size: cover;
  background-position: center;
  border: 3px solid #ccc; /* opcional, para ver su contorno */
  border-radius: 8px; /* opcional, si quieres bordes redondeados */
  cursor: pointer; /* opcional, si vas a hacer que sea clickeable */
}

.miniaturaFondo.seleccionada{
  border: 3px solid var(--purple);
}

.contenedorBotonGuardar{
  display: flex;
  width: 100%;
  justify-content: center;
}

.contenedorBotonGuardar button{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    background-color: var(--purple);
    color: var(--white);
    padding: 10px;
    font-size: 20px;
    height: 50px;
    width: 170px;
    cursor: pointer;
}


/*DISEÑO DEL FORMULARIO AL ESTILO MATERIAL DESIGN*/

.campoMaterial {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  margin-bottom: 15px;
}

.contenedorDuracionPomodoro > .campoMaterial {
  flex: 1;
}

.inputTiempo{
    display: flex;
    flex-direction: column;
}

.campoMaterial input {
  width: 100%;
  padding: 16px 12px 8px;
  font-size: 16px;
  border: 1px solid var(--soft-gray, #ccc);
  border-radius: 4px;
  outline: none;
  background: none;
  outline: 1px solid var(--dark-gray);
  
}

.campoMaterial label {
  position: absolute;
  left: 12px;
  top: -8px;
  background-color: var(--soft-gray);
  padding: 0 4px;
  color: var(--gray, #666);
  pointer-events: none;
  transition: 0.2s ease all;
  opacity: 1;
  font-size: 14px;
}

/* Cuando el input está enfocado o tiene texto */
.campoMaterial input:focus + label,
.campoMaterial input:focus + label + .sufijo {
  color: var(--primary, #6200ee);
}
/* Estilo al enfocar */
.campoMaterial input:focus {
  border-color: var(--primary, #6200ee);
}

.contenedorDuracionPomodoro .sufijo {
  position:absolute;
  left: 12px;
  bottom: -8px;
  color: var(--gray, #666);
  background-color: var(--soft-gray);
  font-size: 14px;
  padding: 0 4px;
}

/*Estilo de los inputs dentro de contenedorDuracionPomodoro*/
.contenedorDuracionPomodoro input{
  padding: 16px 12px 10px;
}

/*BOTÓN FLOTANTE PARA CREAR NUEVA SESIÓN*/
.floating-button-wrapper{
    position: sticky;
    margin-top: 20px;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    pointer-events: none; /* Para que no bloquee clics si flota sobre contenido */
}

.floating-button{
    position: relative;
    pointer-events: auto; /* Volvemos a activar clics solo en el botón */
    background-color: var(--purple);
    color: var(--white);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    height: 50px;
    width: 170px;
    cursor: pointer;
}

footer img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 4px;
}


@media (max-width: 1387px){
  .contenedorMiniaturasSesiones{
    grid-template-columns: repeat(3, 1fr); /* 3 columnas*/
  }
}

@media (max-width: 1050px){
  .contenedorMiniaturasSesiones{
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (max-width: 714px){
  .contenedorMiniaturasSesiones{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px){
  .abrirSesion > p{
    display: none;
  }

  .abrirSesion > span{
    display: block;
  }

  .abrirSesion{
    width: 50px;
  }

}

